# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo

# 用于模型贴图识别
src/main/resources/assets/minecraft
# generated
src/generated
# 用于快速查看输出的快捷方式
build_result.lnk